*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", Arial, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(#a00, 0.03);
  color: #124;
  padding-top: 100px;
}
